@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");

body {
  background-color: white;
}

.backgoundSection{
  padding: 5%;
}
 
/*POPUP/MODAL*/

  /* Estilos para el popup/modal */
  #newsletter-popup {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos para el botón de cerrar */
  #close-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(143, 230, 236);
    border: none;
   cursor: pointer;
  }
  